@import url('https://fonts.googleapis.com/css?family=Karla');


.order-image{
    border-radius: 8px;
}

.order-flex{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
.order-column1{
    flex: 2;
}
.order-column3{
    flex: 1;
}
.card-body{
    background-color: #edefee;
}
.card-title{
    font-family: "Markazi Text";
}
.order-price{
    color: #ee9972;
}
.order-description{
    font-family: "Karla";
    color: #495e57;
    font-size: 14px;
    margin-bottom: 10px;
}
.delivery-button{
    font-family: "Karla";
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
}