

.about-container{
    height: 700px;

    align-content: center;
}
.about-inner-container{
    height: 500px;
    width: 60%;
    margin-left: 300px;
    display: flex;
}
.about-title{
    font-family: "Markazi Text";
    font-size: 60px;
    text-align: left;
}
.about-subtitle{
    font-family: "Markazi Text";
    font-size: 35px;
    margin-bottom: 10px;
    text-align: left;
    margin-top: -30px;
    margin-bottom: 30px;
    font-weight: lighter;

}
.about-text{
    font-family: "Karla";
    font-weight: bold;
    text-align: left;
    font-size: 18px;
}
.about-column{
    place-items: center;
    flex: 1;
}
.about-image{
    border-radius: 16px;
    align-self: center;
    align-items: center;
    align-content: center;
    margin-left: 250px;
}