* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: white;
    padding: 20px 0;
    border-bottom: 1px solid #eaeaea;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    width: 50px;
    margin-right: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #333333;
    text-decoration: none;
    font-size: 20px;
    font-family:"Robota";
    font-weight: bold;
}

.nav-links a:hover {
    color: #f4ce14;
}
